.apodcontainer {
    position: relative;
    width: 100vw !important;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    /* border: 1px solid blue; */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    height: 110%;
    background-size: 120%;
    background-position: center;
    filter: blur(20px);
    z-index: 1;
    transform: translate(-5%, -5%)
}

.foreground-image {
    position: relative;
    max-width: 99%;
    max-height: 99%;
    object-fit: contain;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.foreground-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98.5%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(220, 215, 215);
    z-index: 3;
    font-size: 3.5em;
    line-height: 1.1em;
    margin: .3em;
    border-radius: 15px;
    /* border-bottom-left-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
}